@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,:root{
    height: 100%;
}

body {
    -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 80%; /* Webkit browsers */
}